@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cinzel", serif;
}

:root {
  --cor-01: #06c;
  --cor-02: #000;
  --cor-03: #ccc;
  --cor-04: #fff;
  --cor-05: #0b0c10;
  --cor-06: #ededed;
  --cor-07: #1c1c1c;
  --cor-08: #c9a780;
  --cor-10: #000000bd;
  /*Lune Habilidades*/
  --cor-gelo: #a5f2f3;
  --cor-fogo: #ff2800;
  --cor-relampago: #ecbf2a;
  --cor-terra: #4da865;
  --cor-luz: #fff;
  /*Maelle Posturas*/
  --cor-sem-postura: #ccc;
  --cor-postura-defensiva: #06c;
  --cor-postura-ofensiva: #ff2800;
  --cor-postura-virtuosa: #da0bb0;
  /*Sciel Cores*/
  --cor-habilidades-sol: #dd9a09;
  --cor-habilidades-lua: #cad4ff;
  --cor-pressagios: #8f6710;
  --cor-habilidade-crepusculo: #312489;
  --cor-habilidade-pressagio: #5c155c;
  --max-width: 1000px;
  --min-height: 1200px;
}
body {
  background-color: var(--cor-05);
  color: var(--cor-06);
}
/*Classes Globais*/
.container {
  max-width: var(--max-width);
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 32px;
}
#pag-index.container-flex {
  gap: 0;
}
.preencher-pagina {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
/*Começo do Header*/
#cabecalho {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: var(--cor-10);
}

#cabecalho .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cabecalho #logo {
  width: 42px;
}

#menu ul {
  display: flex;
  list-style: none;
}

#menu .submenu {
  background-color: var(--cor-10);
  display: none;
  position: absolute;
  z-index: 1;
}

#menu ul li a {
  color: var(--cor-04);
  text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  transition: all 0.3s linear;
  position: relative;
}

#menu ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  transition: width 0.4s ease-out;
  background-color: var(--cor-08);
}
#menu ul li a:hover::after {
  width: 100%;
}
#menu ul li:hover .submenu {
  display: block;
}
/*Termino do MENU*/
/*Começo Botão Som*/
#botao-volume {
  display: flex;
  padding: 22px;
  margin: auto;
}

#botao-volume button {
  border: none;
  background-color: transparent;
  font-size: 28px;
}
#mute > i {
  color: white;
}
#volume {
  display: none;
}
#botao-volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bbbbbb01;
  width: 150px;
}
#botao-volume:hover #volume {
  display: inline-block;
  position: relative;
  margin: auto;
  width: 150px;
}
/*Fim Botão Som*/
/*Começo do Body do projeto*/

#pag-index main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card {
  height: 100%;
  width: 100%;
}
.zoom-box-shadow {
  border: 1px solid transparent;
  background-color: #0000002c;
  border-radius: 1rem;
  padding: 1rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.zoom-box-shadow:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 2px var(--cor-08);
}

.titulo {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--cor-08);
}
.subtitulo {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
  color: var(--cor-08);
}
.container-conteudo-pag-index {
  display: flex;
}
.container-paragrafo-pag-index {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.container-paragrafo-pag-index p {
  max-width: 600px;
}
#jogabilidade-flex {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.gif-explicacao {
  width: 350px;

  margin-right: 20px;
  margin-bottom: 20px;
}
.gif-explicacao a > img {
  margin-bottom: 4px;
  max-width: 350px;
  width: 100%;
  border-radius: 32px;
  transition: transform 0.4s;
}
.gif-explicacao a > img:hover {
  transform: scale(1.05);
}
#historia {
  margin-top: 3rem;
}
#historia p,
#jogabilidade p {
  text-align: justify;
}
#jogabilidade {
  padding-bottom: 5rem;
}

#rodape {
  background-color: var(--cor-10);
  color: var(--cor-04);
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  font-size: 12px;
}

#rodape a {
  color: var(--cor-04);
  text-decoration: none;
}

#rodape a:hover {
  text-decoration: underline;
  color: var(--cor-08);
}
#rodape span {
  font-weight: 400;
  font-size: 10px;
}
/*Fim da página Index*/

/*Começo da página Trailers*/
#container-trailer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}
#container-trailer iframe {
  margin: auto;
  border-radius: 1rem;
  max-height: 500px;
  height: 500px;
}
iframe.zoom-box-shadow {
  background-color: transparent;
}
#contailer-trailer-paragrafo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#contailer-trailer-paragrafo p {
  text-align: justify;
}

/*Fim da página Trailer*
/*Começo da página Músicas*/
#musicas-titulo {
  border-bottom: 1px solid var(--cor-08);
}
#pag-musicas #galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/*Fim da página Músicas */

/*Começo da página Personagens*/
#pag-personagens {
  background-image: url("../images/personagens/personagens-fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  backdrop-filter: blur(2px) brightness(10%);
  -webkit-backdrop-filter: blur(2px) brightness(10%);
}

#personagens-titulo {
  background-color: var(--cor-05);
  border-bottom: 1px solid var(--cor-08);
  text-shadow: 1px 1px 2px var(--cor-02);
  border-radius: 2rem;
}
#pag-personagens h2.zoom-box-shadow {
  min-height: auto;
}
#pag-personagens .zoom-box-shadow {
  margin-top: 1rem;
  background-color: var(--cor-05);
  min-height: 300px;
}
#pag-personagens .zoom-box-shadow p {
  filter: brightness(50%);
  margin-bottom: 0.5rem;
}
#pag-personagens .zoom-box-shadow img {
  float: left;
  filter: brightness(50%);
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
#pag-personagens .zoom-box-shadow:hover p {
  filter: brightness(100%);
  transition: all 1s ease-in-out;
}
#pag-personagens .zoom-box-shadow:hover img {
  transition: all 1s ease-in-out;
  transform: scale(1.06);
  filter: brightness(100%);
}

#pag-personagens a.sublinha-subtitulo {
  text-decoration: none;
}

#pag-personagens #personagens .zoom-box-shadow a.sublinha-subtitulo:hover {
  text-decoration: underline;
  color: var(--cor-08);
}

/*Inicio da página Modelo para os Personagens*/
#atributo-personagem {
  display: flex;
  gap: 32px;
}
.modelo-pag-personagem span {
  font-weight: bold;
}
#conteiner-lista-atributos {
  margin: 0 2rem 1rem 2rem;
}
.modelo-pag-personagem img {
  max-width: 350px;
  width: 100%;
  transition: transform 0.4s;
}
#container-img-sobrepor {
  max-height: 450px;
  overflow: hidden;
  margin-bottom: 1rem;
  border-radius: 32px;
}

#habilidades-personagens {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.modelo-pag-personagem #habilidades-personagens img {
  width: 100%;
  max-width: 900px;

  border-radius: 4px;
  box-shadow: 1px 1px 20px var(--cor-10);
}
.conter-zoom {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}
.modelo-pag-personagem img:hover {
  transform: scale(1.03);
}

/*Pagina personagem Lune*/
span.gelo {
  color: var(--cor-gelo);
}
span.fogo {
  color: var(--cor-fogo);
}
span.relampago {
  color: var(--cor-relampago);
}
span.terra {
  color: var(--cor-terra);
}

span.luz {
  color: var(--cor-luz);
}
/*Página Maelle*/
#pag-personagens-maelle ul#postura-lista {
  list-style: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
#pag-personagens-maelle #postura-lista li {
  display: flex;
  align-items: center;
  gap: 8px;
}
#pag-personagens-maelle.modelo-pag-personagem #postura-lista img {
  width: 36px;
  box-shadow: none;
}

#pag-personagens-maelle #postura-lista p {
  flex-grow: 2;
}

span.sem-postura {
  color: var(--cor-sem-postura);
}

span.postura-defensiva {
  color: var(--cor-postura-defensiva);
}

span.postura-ofensiva {
  color: var(--cor-postura-ofensiva);
}
span.postura-virtuosa {
  color: var(--cor-postura-virtuosa);
}

/*Página Sciel*/

span.habilidades-pressagio {
  color: var(--cor-habilidade-pressagio);
}
span.habilidades-crepusculo {
  color: var(--cor-habilidade-crepusculo);
}
span.habilidades-sol {
  color: var(--cor-habilidades-sol);
}
span.habilidades-lua {
  color: var(--cor-habilidades-lua);
}
#pag-personagens-sciel #lista-habilidades-sciel ul {
  margin: 16px;
  display: flex;
  flex-direction: column;
}
#pag-personagens-sciel
  #lista-habilidades-sciel
  #segunda-lista-habilidades-sciel {
  margin: 0 1rem;
}

/* Inicio Parte Wallpapers*/

#pag-wallpapers #fotos #galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

#pag-wallpapers #fotos #galeria img {
  display: block;
  width: 100%;
  transition: all 0.2 linear;
}

#pag-wallpapers #fotos #galeria img:hover {
  transform: scale(1.07);
}

/*Fim das Wallpapers*/
/*Inicio Lugares*/
#pag-lugares .conter-zoom {
  max-height: 400px;
  max-width: 400px;
  margin: auto;
}
#pag-lugares .zoom-box-shadow {
  text-align: justify;
}
#pag-lugares .zoom-box-shadow p {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}
.container-lugares {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-lugares a {
  color: var(--cor-08);
  text-decoration: none;
}
.container-lugares a:hover {
  text-decoration: underline;
}

#pag-lugares .conter-zoom img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
#pag-lugares .conter-zoom img:hover {
  transform: scale(1.1);
}
#container-lugares {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

#pag-lugares .zoom-box-shadow {
  padding: 1rem;
}
